.Toolbar{
    display: flex;
    height: 3.5rem;
    background-color: #00a8ff;
    justify-content: space-between;
    align-items: center;
}
.Nav{
    height: 100%;
}


@media (max-width: 500px) {
    .Nav{
        display:none;
    }
}