.ToolBarNavigationItems {
    display: flex;
    height : 100%;
    margin : 0;
    padding: 0;
}

.SideDrawerNavigationItems {
    display       : flex;
    flex-direction: column;
    height        : 100%;
    margin        : 0;
    padding       : 0;

}